[2016-09-02 13:01] doridori opened #1 "Should mention the transient nature of Keystore based keys"
Docs should mention this as there are a few cases where using your lib will result in irretrievable data http://doridori.github.io/android-security-the-forgetful-keystore/

[2016-09-02 13:57] iamMehedi commented on #1
@doridori Yeah thought of that! Will add that in the docs as soon as I can.

[2016-09-02 14:42] iamMehedi commented on #1
@doridori Updated the docs with a link to your blog.

[2016-09-02 14:42] #1 closed, assigned to iamMehedi

[2016-09-02 14:55] iamMehedi opened #2 "Keys are not encrypted at rest"
Currently the keys stored in the `KeyStore` aren't encrypted at rest. We need to look out for a fix from Google  for the issue [61989](https://code.google.com/p/android/issues/detail?id=61989).

In case of no fix from Google, some options might be:
- Let the library forget about the unrecoverable data and start over again.
- Come up with a way to recover and migrate the data when the lock screen p

[2016-09-16 02:20] ymengx opened #4 "minSdk"
这个版本必须18以上才能用吗？

[2016-09-16 03:50] iamMehedi commented on #4
@mysprout There is no official `KeyStore` API available before API level 18, that's why this library requires the `minSdk` to be 18 or later. But the `KeyStore` itself might be present on older versions and can be accessed with reflection and private APIs but that shouldn't be tried in production. You can read more about it [here](https://nelenkov.blogspot.jp/2012/05/storing-application-secrets-in

[2016-09-16 03:50] #4 closed, assigned to iamMehedi

[2016-11-03 22:14] nirvik66 opened #5 "App crashes when the users changes the lock screen pattern"
I'm testing on a 4.4.4 device where the screen lock was set to None. I changed it to PIN and after that I'm getting a crash. Are you experiencing the same? It's one of the problematic cases pointed on The Forgetful Keystore where the keys are lost.
java.lang.RuntimeException: java.io.IOException: Error while finalizing cipher
at devliving.online.securedpreferencestore.SecuredPreferenceStore.a(Sour

[2016-11-05 05:04] iamMehedi commented on #5
This seems to be somewhat related to #2 I'll test it thoroughly when I can manage some time and let you know.

[2016-11-06 07:29] iamMehedi commented on #2
Keys still get deleted in API levels lower than 21. But on API level 21+ we might be able to enforce key encryption at rest. Some testing is required and if everything seems ok then I'll set the library's minSDK level to be 21 and turn on key encryption at rest.

[2016-11-06 07:32] iamMehedi commented on #5
@nirvik66 This is related to #2. The issue should not be there on API level 21 and upper.

[2016-11-06 07:32] #5 closed, assigned to nobody

[2016-11-07 20:06] nirvik66 commented on #5
@iamMehedi I need to support API level 18 so I modified your classes to added some logic to recover from the key store loss. Basically removing all alias in the keystore and clearing the SecuredPreferenceStore and regenerating everything. Let me know if you're interested.

[2016-11-10 04:44] iamMehedi commented on #5
@nirvik66 I'd like to take a look at the changes you've made. May be we can add that behavior as an optional migration/recovery policy to the library.

[2016-11-14 17:10] nirvik66 commented on #5
@iamMehedi I forked your project and I created a new branch with the changes. https://github.com/nirvik66/Secured-Preference-Store/tree/feature/fix-keystore-key-loss

You can see all the changes on the last commit on the branch but mainly,

On Encryption Manager:
- Removed all mentions about KeyProperties
- Change the logic of generateRSAKeys
- Added some methods to clear the keystore alias

On Se

[2016-11-18 19:11] ApoorvKhatreja commented on #2
https://github.com/iamMehedi/Secured-Preference-Store/blob/master/securedpreferencestore/src/main/java/devliving/online/securedpreferencestore/EncryptionManager.java#L374

I tried looking at the code where the library generates the encryption key, there doesn't seem to be any option preventing the key from being encrypted at rest. Am I looking in the wrong place?

[2016-12-05 06:18] skhugh opened #6 "could not generate key in keystore error"
When beta testing my app, one user out of around 1,000 users experienced "could not generate key in keystore" error and could not log in to my service with the following exception.

`Caused by java.lang.IllegalStateException: could not generate key in keystore
android.security.AndroidKeyPairGenerator.generateKeyPair (AndroidKeyPairGenerator.java:99)
java.security.KeyPairGenerator$KeyPairGeneratorI

[2016-12-05 06:27] skhugh opened #7 ""Attempt to invoke interface method 'int android.security.IKeystoreService.exist(java.lang.String, int)' on a null object reference" error"
When beta testing my app, one user out of around 1,000 users experienced "Attempt to invoke interface method 'int android.security.IKeystoreService.exist(java.lang.String, int)' on a null object reference" error and could not log in to my service with the following exception.

`Caused by java.lang.NullPointerException: Attempt to invoke interface method 'int android.security.IKeystoreService.exist

[2016-12-05 07:34] iamMehedi commented on #7
Looks like the `KeyStore` instance was `null` when creating the `EncryptionManager` instance. May be the device doesn't have a `AndroidKeyStore` implementation. I'll try and see why is it throwing a `NullPointerException` when the expected would be a `KeyStoreException` or `NoSuchProviderException`.

[2016-12-05 07:43] iamMehedi commented on #6
Most probably due to this [issue](https://code.google.com/p/android/issues/detail?id=177459), which is not supposed to happen on API level >= 21 but here it is!

[2017-03-21 13:38] StuStirling commented on #2
In API 21+, do keys not get deleted? It was my understanding that not every device can provide the hardware-backed keystore and in those cases, if the keys are encrypted at rest, they are encrypted using the device lock and I would assume they would have to be deleted upon a change? Did you get round to testing this?

[2017-03-21 13:44] iamMehedi commented on #2
In API 21+ if there is a hardware backed store available then the keys aren't supposed to get deleted. But keys are still reported to be lost or rendered unrecoverable on some devices. That's why the library now has a recovery mechanism (actually a notifying mechanism) to handle that kind of an event.

[2017-03-21 13:52] StuStirling commented on #2
Also see the [comment from a Google engineer](https://tech.slashdot.org/story/16/07/07/1819233/android-keystore-encryption-scheme-broken) who says the following about the `setEncryptionRequired` method in API < 21:

and justifies it with the following argument:

[2017-03-28 09:31] texnedo commented on #7
Hello. I am facing the same stack trace from my apps. Did you get a clue how to make a workaround for it?

[2017-03-28 12:29] StuStirling opened #9 "Make parameter names more descriptive"
When autocomplete comes up in Android Studio, the parameter names are named things like `s` and `s1`. This isn't enough information as to what these parameters are for.

Renaming them to things like `key` and `value` where appropriate would be useful.

[2017-04-04 13:38] iamMehedi commented on #7
@texnedo I could not actually reproduce it on any devices that I have. Are you using the latest version of the library with the recovery handler? And the recovery handler is not getting invoked?

[2017-04-04 14:00] texnedo commented on #7
I don't use this library, but work with AndroidKeyStore directly. I was just googling to find any solution for my issue. What does this recovery handler do? Could you navigate me in your repo the place where I can find it?

[2017-04-04 15:03] iamMehedi commented on #7
@texnedo In that case the recovery handler wouldn't be very useful for you I guess as it doesn't solve the issue; just provides the library a way to start over.

[2017-04-19 14:24] malinajirka opened #10 "KeyPermanentelyInvalidatedException was added in API 23"
After upgrading to version 0.4.0, the app doesn't work on Android 4.4
<pre><code>java.lang.NoClassDefFoundError: android.security.keystore.KeyPermanentlyInvalidatedException
                                                                                at devliving.online.securedpreferencestore.EncryptionManager.isRecoverableError(EncryptionManager.java:137)

[2017-04-20 05:38] #9 closed, assigned to iamMehedi

[2017-04-20 05:38] #10 closed, assigned to iamMehedi

[2017-04-20 06:19] malinajirka commented on #10
:) Thank you!

[2017-05-16 08:56] lwh4616 opened #12 "Keystore operation failed"
华为andriod 7.0

mEncryptionManager.encrypt()

Keystore operation failed

[2017-05-16 10:48] iamMehedi commented on #12
Can you please provide some more details i.e the device make and model, stacktrace of the error you received, code snippet for where you initialized the `EncryptionManager`

[2017-05-16 18:45] mcassiano commented on #5
@nirvik66 Did your solution fix the crashes that happened because of this? Is it stable?

[2017-05-17 05:51] iamMehedi commented on #5
@mcassiano The reason for the crashes are still there (Google hasn't changed the way keystore works), but the library has a way to recover(start over, so the app doesn't crash). See here
https://github.com/iamMehedi/Secured-Preference-Store#recovery

[2017-05-17 12:17] mcassiano commented on #5
@iamMehedi yes, I'm aware. I was just wondering if her solution is stable enough so I can use her branch. Thanks :)

[2017-05-17 12:19] mcassiano commented on #5
@iamMehedi btw, I think I missed something. You need to explicitly set the DefaultRecoveryHandler if you want this behavior, right?

[2017-05-17 13:29] iamMehedi commented on #5
yes, you need to explicitly set that.

[2017-05-17 13:31] mcassiano commented on #5
@iamMehedi got it! thanks. :)

[2017-05-31 14:47] nirvik66 commented on #5
@mcassiano Hey, sorry for the delay! I created that branch before the library implemented the recovery mechanism. Now, I wouldn't use my fork, it's better to use the library!

[2017-08-01 10:58] zzy1147 opened #13 "so long time for store"
In a project, it takes 3 seconds or so long to save a field for the first time. I wonder if you have this problem. Thanks

[2017-08-02 06:50] iamMehedi commented on #13
Haven't encountered anything like that. Can you please provide some instruction or code to reproduce the issue.

[2017-08-07 16:24] StuStirling opened #15 "KeyNotValidYetException OnePlus3T Timezones"
Hi,

I'm not sure if it's specific to the OnePlus3T or its more of a timezone issue but when trying to create a new AES key on this device I get the following exception:

[code]

Now when i change the timezone on my device to be an offset of 0, I do not get this exception. Where I am currently is +1 timezone.

I believe the problem originates in the `generateAESKey()` method at line 483 where the

[2017-08-10 09:09] StuStirling opened #16 "Use Github Release Structure or CHANGELOG"
It would be useful to have a CHANGELOG.md in the project's root or to use Github's release tagging feature to keep track of the different changes between versions.

For example the recent addition of the init method is a breaking change and would be useful if it was more obvious that it was added.

[2017-08-10 13:24] iamMehedi commented on #16
Release tags work better in my opinion.

[2017-08-10 13:33] iamMehedi commented on #16
tag v0.5.0 has been added.

[2017-08-10 13:33] #16 closed, assigned to iamMehedi

[2017-08-10 13:36] StuStirling commented on #15
Any thoughts on this? I couldn't find any documentation to say whether a validity start date needs to be set in local or UTC time?

[2017-08-10 13:42] iamMehedi commented on #15
I haven't been able to reproduce it yet. A certificate validity date check shouldn't be locale dependent or specific, will see if I can find something in the docs.

[2017-08-10 19:41] StuStirling commented on #15
I've tried to find in the source where the exception gets thrown but I can't find it.

From the [Android docs](https://developer.android.com/reference/android/security/keystore/KeyGenParameterSpec.Builder.html#setKeyValidityStart(java.util.Date)) however, it does say:

In this case, do we need to set a start date? This would solve this issue.

[2017-08-23 10:13] StuStirling opened #17 "IllegalBlockSizeException on Samsung Galaxy S7 7.0"
Hi,

When running my app on a Samsung Galaxy S7 running android version 7.0 I get the following exception:

[code]

This happened multiple times but then all of a sudden it just started working successfully. I came across [this question](https://stackoverflow.com/questions/30383736/illegalblocksizeexception-when-trying-to-encrypt-and-decrypt-a-string-with-aes) in StackOverflow that details the sam

[2017-09-22 08:48] estebanlamas opened #18 "Keystore operation failed on Huawei P9Lite"
Hi,

The library works fine on almost all devices I tried, but in a Huawei P9Lite with Android 6 I receive and exception when I try to save a string:

[code]

The exception is:

[code]

[2017-09-22 11:18] #12 closed, assigned to iamMehedi

[2017-09-22 12:47] iamMehedi commented on #18
Thanks for reporting. Did this happen randomly or after you changed PIN/Password/Fingerprint? or does this happen every time you try to use the lib?  @estebanlamas

[2017-09-22 12:49] estebanlamas commented on #18
It happens every time I try to use the lib.
Thanks for the quick answer.

[2017-09-22 14:10] iamMehedi commented on #17
All the practices mentioned in that StackOverflow answer is already followed in the library. @StuStirling

[2017-09-23 09:49] StuStirling commented on #17
Ok. From using the library I found that quickly repeated calls to decrypt the same data made it more likely to receive this exception. A solution has been to cache this encrypted data wherever possible, reducing the amount of times its called.

[2017-09-23 12:00] iamMehedi commented on #17
There actually are known issues of the `Cipher` class on Samsung devices when used Simultaneously or very frequently.

[2017-10-06 10:42] fermedina opened #19 "Remove sharedPreferences"
Hi!

How can I remove my sharedPreferences?

[2017-10-08 05:05] iamMehedi commented on #19
Just the way you'd remove values from the standard SharedPreferences:
https://stackoverflow.com/questions/8034127/how-to-remove-some-key-value-pair-from-sharedpreferences

[2017-10-08 07:41] fermedina commented on #19
But I would like remove a specific entry. I have seen that the keys are encrypted and I don’t know how to remove the key that I would like. Can you help me?

[2017-10-09 03:36] iamMehedi commented on #19
As you don't provide hashed key to store or retrieve a value, you don't need to provide the hashed key for removing a value. Just provide the actual key and the library will handle hashing it appropriately.

[2017-10-09 08:01] fermedina commented on #19
But the library doesn't have any method to remove a key/value pair. I want to remove all key/value pair except one. But I don't know how to know which key/value pair doesn't remove, because te key is also encrypted

[2017-10-09 14:23] iamMehedi commented on #19
`SecuredPreferenceStore` is a `SharedPreferences` implementation hence has all the methods that a `SharedPreferences` is supposed to have and behaves similarly.

to remove a `key` and associated value call:
[code]

[2017-10-09 14:23] #19 closed, assigned to iamMehedi

[2017-10-18 23:51] patrickyin commented on #15
I got this error on Pixel android 8.0, only on this device. android 8.0 on nexus 5X and emulator work well

[2017-10-19 04:43] iamMehedi commented on #15
@StuStirling @eetech can you please make a fork of the lib and check if not setting the start and end date resolve this issue?

[2017-10-19 14:13] jepoy16 commented on #18
we also encounter the same. Do we have updates on this? Please advise.

Many Thanks

[2017-10-24 12:55] fermedina opened #20 "IllegalBlocksizeException Huawei p8 lite ALE-L21"
Hi. I have an issue similar to [18](https://github.com/iamMehedi/Secured-Preference-Store/issues/18). When I try store an string in Huawei p8 lite ALE-L21 I get this error:

[code]

In others devices the library works fine.

Can you help me?

[2017-11-10 14:41] AlvaroBro opened #22 "java.lang.IllegalArgumentException: key.length == 0"
When initializing the library I got this situation: it will fail to init due to IllegalArgumentException.
I was doing some tests regarding recovery after a keystore deletion due to unlock pattern/pin/password changes. Usually the recovery was as expected, but one of the times it got stuck in this situation, and only reinstalling the app would fix it.

[code]

[2017-11-10 15:12] AlvaroBro commented on #22
Android 4.4.4 in genymotion emulator.

[2017-11-12 06:39] iamMehedi commented on #22
Hey @AlvaroBro can you please provide details of how I might try to reproduce this?

[2017-11-14 12:15] AlvaroBro commented on #22
Hi, yes sure I will do so eventually when I have some extra time. Thanks!

[2017-11-14 16:42] matthew-niemann commented on #22
I had an incoming crash report showing the same, only from one user so far. Since it this report was sent in via an SDK, I unfortunately have no reproduction steps.

Device: Samsung SM-G313HN
Version: 4.4.2

[2017-11-17 15:46] matthew-niemann opened #23 "java.security.ProviderException - HTC M8"
I don't believe this to be an issue with your library, but having turned up empty with web research, I'm just here as a last resort to see if you might have any insight or suggestions.

**Device:** HTC M8
**Android OS:** 6.0.1
**Reinstall resolves issue:** No
**Users affected:** 1
**Reproducible:** Only by one remote user (unable to physically debug device)

The only thing I can think of asking th

[2017-11-17 18:04] AlvaroBro opened #24 "Suggestion: it would be nice to know if key is inside secure hardware"
I think it would be nice to offer an easy way to someone using your library to know if the key used for encryption is currently stored in secure hardware. In my case I'd like to have this information to show it to the user and let him know that his data base is encrypted but it may (or may not) be 100% secure as his hardware supports (or not) TrustZone or whatever secure system.

I don't know if t

[2017-11-20 14:17] iamMehedi commented on #24
Thanks for the suggestion. I think it'll be a good addition to this library.

[2017-11-20 14:17] #24 closed, assigned to iamMehedi

[2017-11-21 08:26] iamMehedi commented on #23
Looks like it was thrown due to a system error. So my guess is it wasn't because of the user not having a screen lock.

[2017-11-21 08:37] iamMehedi commented on #7
@skhugh were you trying to access the secured preferences from a remote service? This error seems to be related to this:
https://android.googlesource.com/platform/external/sepolicy/+/0e30164b17af20f680635c7c6c522e670ecc3df3

[2017-11-21 09:33] fermedina commented on #20
Hi! I have the same problems in all Huawei devices. What is the problem?

[2017-11-30 10:23] iamMehedi commented on #20
So the library is not working at all on those devices? Or does this happen after you've changed PIN/Password/Fingerprint of the device? And please share the OS version and the type of screen security you had in place.

[2017-11-30 10:26] #13 closed, assigned to iamMehedi

[2018-01-15 17:28] Gaetano-Dati commented on #20
Hi, same problem here.. Android O is the OS and the device is a Nexus6 Emulator. Trying to put a jsonString from GSon library. GSon.toJson(string)

[2018-01-17 04:52] iamMehedi commented on #20
@Gaetano-Dati thanks for the info. I'll see if I can reproduce it and find out the reason behind it.

[2018-01-30 04:44] Gaetano-Dati opened #25 "KeyStoreService.del null object reference on HUAWEI device 7.0"
java.lang.RuntimeException: Unable to create application com.bananasrl.banana.Utils.App: java.lang.NullPointerException: Attempt to invoke interface method 'int android.security.IKeystoreService.del(java.lang.String, int)' on a null object reference
	at android.app.ActivityThread.handleBindApplication(ActivityThread.java:5678)
	at android.app.ActivityThread.-wrap2(ActivityThread.java)
	at android.

[2018-01-30 07:37] Gaetano-Dati commented on #20
So did you come out and find the solution?
Thanks

[2018-01-31 18:08] Gaetano-Dati commented on #25
@iamMehedi please can you tell me something about It? Thanks

[2018-01-31 18:13] iamMehedi commented on #25
Huawei devices are encountering a few issues and most probably that has to
do something with the device's keystore implementation. I'll take a closer
look at this tomorrow and let you know if I can find anything.

On Feb 1, 2018 12:08 AM, "Dati Gaetano" <notifications@github.com> wrote:

[2018-01-31 18:16] Gaetano-Dati commented on #25
Ok, the client is waiting for my Application which also contains your library.
Thank you very much.

[2018-02-01 06:35] iamMehedi commented on #20
@Gaetano-Dati Tried the sample app on A Nexus 6 emulator with Android O (with google APIs) but couldn't reproduce the issue.

[2018-02-01 08:24] Gaetano-Dati commented on #20
The issue was reproduced on a physical device during a robo test by firebase. The error is at the moment the Application class gets called. I didn't experience this error on one of my devices but I don't have a Huawei. I emulated the Application on a Nexus 6 with Android O and It didn't give me the error. Have you got a Huawei physical devices in order to test it?

[2018-02-01 08:29] Gaetano-Dati commented on #20
I'm talking about this issue:
KeyStoreService.del null object reference on HUAWEI device 7.0 #25

I pasted this because we are in another thread. I found a solution to my first issue which is at the starting point of this list.

[2018-02-01 09:55] iamMehedi commented on #25
@Gaetano-Dati the error is happening in internal code of the `KeyGenerator`

[2018-02-01 09:57] Gaetano-Dati commented on #25
And how can I delete this error? Modify something into the KeyGenerator class?
Can you do it and publish new version?
I'm about to publish the application.
Thanks

[2018-02-01 09:58] iamMehedi commented on #20
@Gaetano-Dati No, unfortunately don't have a Huawei device for testing.

[2018-02-01 10:01] iamMehedi commented on #25
It's an internal issue of android/huawei's Keystore implementation, so there's nothing to fix in the library in particular.

[2018-02-01 10:08] Gaetano-Dati commented on #25
Uhmm so the crash remains? And we can't deal with it? Ok. Thanks

[2018-02-01 10:16] Gaetano-Dati commented on #25
I'm afraid that this problem will happen on every Huawei device.

[2018-02-04 05:46] iamMehedi commented on #25
As the issue seems to be with the OS on Huawei devices, this will happen on all their devices at least the ones that are running the same version of the OS.

[2018-02-12 17:38] xraw opened #26 "getBytes throws AEADBadTagException"
While encryption / decryption works on 5.x and 6.x series, on a S7 with 7.x I get this exception while decoding with getBytes. Data amount less than 32K works without issues, but whenever I try with larger data I get this (see below). Then I tried to write chunked byte buffers (split a large byte buffer into multiple 32K buffers) but the problem remains the same.

02-12 18:35:49.786 9791-10394/xx.

[2018-03-01 23:02] JohnHillen commented on #15
On my Nexus 5 I can reproduce it:
- make force stop in the Android-App settings
- clear all data in the Android-App settings
- start the app -> KeyNotYetValidException

[2018-03-20 18:05] oikmar commented on #15
this happens on Pixel2 as well. with version `0.5.1`

[2018-04-08 11:11] StuStirling commented on #15
@3Goldjungen as you can reproduce the issue reliably, could you checkout my branch and see if removing the start and end validity dates has fixed the issue? - https://github.com/StuStirling/Secured-Preference-Store/tree/issue/15

[2018-04-12 05:00] Unlimity commented on #17
It's a little outdated, but I'll post an answer here just in case some good folk will be trying to solve that problem.
<br>Samsung devices have different implementation of `Cipher` class running in their JVM and in my case I only had to make operations with it `synchronized`.
<br>It solved issue for me, so I may take a guess that Samsung's `Cipher` is not thread safe.
Cheers!

[2018-04-30 08:04] StuStirling commented on #15
@oikmar @3Goldjungen @patrickyin is there any chance you could run my branch located here to see if it resolves the issue? https://github.com/StuStirling/Secured-Preference-Store/tree/issue/15

[2018-04-30 08:10] oikmar commented on #15
@StuStirling unfortunately, we have moved on from this implementation. if i get to dig up the old code (time permitting), i will update here.

[2018-05-02 21:48] carterhudson commented on #15
I encountered the same issue in a completely separate project that handles shared preferences & keystore in the same manner and can confirm the solution @StuStirling posted is working for me.

[2018-05-03 05:45] abhi-gadewar commented on #18
We are also facing same problem. Can somebody help here?

[2018-05-03 05:46] abhi-gadewar commented on #18
@iamMehedi  Can you help here?

[2018-05-08 12:57] IDan14 commented on #18
I can also confirm this issue on a Huawei P10 Lite running Android 7.0. Solution provided by @StuStirling  on https://github.com/iamMehedi/Secured-Preference-Store/issues/15 (or just commenting EncryptionManager line 494 .setKeyValidityStart(start.getTime())) solved this problem.

Log extract (running version 0.5.1) :
[code]

[2018-05-09 13:16] iamMehedi commented on #15
@StuStirling can you please create a pull request with the fix?

[2018-05-31 15:40] javichaques commented on #25
Hello,

I have the same issue in my Huawei P8 Lite.

@Gaetano-Dati @iamMehedi
Were you able to solve this? Workaround?

[2018-05-31 15:42] Gaetano-Dati commented on #25
No, sorry. I'm still waiting for a solution

Il gio 31 mag 2018, 17:40 Javi Chaqués <notifications@github.com> ha
scritto:

[2018-05-31 15:49] javichaques commented on #25
:(
How are you save the preference ins this moment? @Gaetano-Dati

Thank you

[2018-06-01 22:08] gnoriega27 opened #28 "Some help would be appreciated"
I'm kind of new at android development and would love some guidance if possible. I was wondering why when I add

`compile 'online.devliving:securedpreferencestore:latest_version'`

and build, I get this error:

`Failed to resolve: online`

Thanks in advance

[2018-06-04 15:03] maxkomarychev commented on #25
@Gaetano-Dati hey, did you get this error on actual device you have or it's from google pre-launch report or any other crash-reporting service (like crashlytics..)?

if first is true - did you by any chance tried this on any other android version on Huawei device?

[2018-06-04 21:45] ebabel commented on #28
@gnoriega27 "latest_version" means you need to figure out what the latest version is.
use this instead
`implementation 'online.devliving:securedpreferencestore:0.6.0'`
or
`implementation 'online.devliving:securedpreferencestore:0.5.0'`

[2018-06-05 01:20] ebabel opened #29 "Add ability to seed SecureRandom"
Awesome lib! Can you add a quick way to optionally pass in or set a seed?

Thanks!

[2018-06-05 06:52] #28 closed, assigned to nobody

[2018-06-07 08:58] #29 closed, assigned to iamMehedi

[2018-06-12 19:17] kutran commented on #25
I just saw this on our pre-launch report trying to start an internal test track.  I am wondering running this will cause the same problem on Huawei (or any other phones like ZTE).

I think FireBase has Android Testing on the cloud; I am going to try it out.

[2018-06-13 07:46] ChathuragaShan opened #31 "App Crashed in lollipop OS version with error "java.lang.IllegalStateException: Must call init() before using the store""
First of all thank you for sharing this awesome library.
My app perfectly working in other OS versions. Tested on Marshmallow Nougat working fine.
Here's the full stack trace for crash.

`06-13 12:20:51.745 7726-7726/my.com.abc.app E/AndroidRuntime: FATAL EXCEPTION: main
    Process: my.com.abc.app, PID: 7726
    java.lang.RuntimeException: Unable to start activity ComponentInfo{my.com.abc.app/my.

[2018-06-22 08:48] 1amGr00t opened #32 "RSA Key Generation failed with "IllegalArgumentException: startDate == null""
I run into that issue on API 21 when init the SecurePreferenceStore with
`SecuredPreferenceStore.init(context.getApplicationContext(), new DefaultRecoveryHandler());`

The following Exception was thrown:
`Caused by: java.lang.IllegalArgumentException: startDate == null
        at android.security.KeyPairGeneratorSpec.<init>(KeyPairGeneratorSpec.java:141)
        at android.security.KeyPairGenerato

[2018-06-22 09:01] 1amGr00t commented on #32
Maybe this Bug is a consequence of this https://github.com/iamMehedi/Secured-Preference-Store/commit/bbc0e930f7dc916ad20ed067ca21699213329999 commit ?

[2018-06-22 16:17] nirvik66 commented on #31
I'm experiencing the same. Tested on HTC One M8 with Android 5.0.1

[2018-07-02 08:43] iamMehedi commented on #31
This is happening because the library doesn't specify a start & end date while generating the RSA keys.

[2018-07-03 07:31] #31 closed, assigned to iamMehedi

[2018-07-03 07:31] #32 closed, assigned to iamMehedi

[2018-07-04 14:20] thelocumapp commented on #15
@iamMehedi I can see that you have reverted the change I made to the start and end date key generation with good reason due to issues #31 and #32. However this means this issue will come back.

The problem we have is if you set the start date to now, and then change your timezone to be less than the timezone used to create the key, you get a `KeyNotValidYetException`.

Could a potential solution b

[2018-07-04 14:25] StuStirling commented on #15
@iamMehedi I can see that you have reverted the change I made to the start and end date key generation with good reason due to issues #31 and #32. However this means this issue will come back.

The problem we have is if you set the start date to now, and then change your timezone to be less than the timezone used to create the key, you get a KeyNotValidYetException.

Could a potential solution be

[2018-07-04 15:31] iamMehedi commented on #15
@StuStirling I'll definitely look into that solution, hope that'd work.

[2018-07-05 11:25] ghost commented on #15
@iamMehedi , I think for now that solution would fix it but would be nice to be able to have something that detects if timezone changes. I will look to see if something like that can be done in a way the data is not compromised.

[2018-07-05 13:46] xrom888 commented on #25
I tried last version 0.7.0 on my Huawei P7 works well now.

[2018-07-05 15:50] ghost commented on #22
@matthew-niemann , basically I could reproduce this using some unit tests in API 21.  During debug I noticed that the prefs contained the hash of the ALIAS therefore one could not generate the AESKey and next time when it was needed it was not there. Therefore, the problem. I fixed it by just changing to a new prefs name.

[2018-07-09 06:17] #23 closed, assigned to iamMehedi

[2018-07-09 06:43] iamMehedi commented on #15
@StuStirling can you please test if 1fbdab3 fixes it? I have tested it on a couple of devices and it works fine.

[2018-07-09 10:20] minadaki opened #33 "Failed to init Secured Preference Store. Exception: java.lang.ClassCastException: java.lang.Integer cannot be cast to java.lang.String"
Hello,

I am using the latest version of the library (0.7.2).
I noticed that the init function was marked as deprecated so I tried to use the new init function (by the way, the description of the new function is missing the @param annotations for the newly added input fields).

The extra arguments of the new init function:
    private static final String SECURE_PREFS_NAME = "secPrefs";
    private

[2018-07-09 15:27] iamMehedi commented on #33
couldn't reproduce this issue but 57f976c safeguards the code that might have caused this issue. @minadaki can you please try the latest code and see if it fixes the issue?

[2018-07-10 07:39] minadaki commented on #33
Hello,
Thank you for your fast reply.
Unfortunately, even with the latest version, the app still crashes.

The library fails to initialise:

<init>`
Failed to init Secured Preference Store. Exception: java.lang.ArrayIndexOutOfBoundsException: length=1; index=1
at devliving.online.securedpreferencestore.SecuredPreferenceStore.<init>(SecuredPreferenceStore.java:76)
 at devliving.online.securedprefer

[2018-07-12 05:53] iamMehedi commented on #33
Haven't been able to reproduce this so far. Have you tested on any other device except the Samsung? @minadaki

[2018-07-12 05:59] iamMehedi commented on #22
@RobartGmbH so it happens when you change the device security (PIN/Password) and open the app after that? I am trying to understand if it's happening coz the recovery is failing to generate new keys.

[2018-07-12 10:32] minadaki commented on #33
I tried on a Motorolla phone running Android Oreo and it worked fine.
After that I uninstalled my app from the Samsung S8 phone and cleared all the app's cache and data.
Upon re-installing the app, the library initialised successfully and no crashes occurred.
So where does that leave us? If I upload a new version of my app in Playstore including the changes, will the app crash after updating or no

[2018-07-18 09:55] cornucopib commented on #15
@iamMehedi Any other questions? Can you close this isssue?

[2018-07-18 10:01] iamMehedi commented on #15
@Vector-SMG Are you suggesting that you've tested it on a OnePlus 3T and the issue is resolved?

[2018-07-20 02:32] cornucopib commented on #15
@iamMehedi http://remote.utest.21kunpeng.com/deviceSearch?type=remote，I hope this
Can help you.

[2018-07-20 02:34] cornucopib commented on #15
@iamMehedi Don't worry, it will start giving you some u's for free trial

[2018-08-15 03:37] yan-lixin opened #34 "Cannot connect to keystore"
Cannot connect to keystore
android.os.DeadObjectException
at android.os.BinderProxy.transactNative(Native Method)
at android.os.BinderProxy.transact(Binder.java:617)
at android.security.IKeystoreService$Stub$Proxy.begin(IKeystoreService.java:1255)

This mistake happens occasionally. The wrong place is the 496th line of EncryptionManager.

[2018-08-15 03:45] yan-lixin commented on #34
Cannot connect to keystore
    android.os.DeadObjectException
        at android.os.BinderProxy.transactNative(Native Method)
        at android.os.BinderProxy.transact(Binder.java:617)
        at android.security.IKeystoreService$Stub$Proxy.begin(IKeystoreService.java:1255)
        at android.security.KeyStore.begin(KeyStore.java:488)
        at android.security.keystore.AndroidKeyStoreCipherSpiB

[2018-08-22 14:48] nicolasSchirmer opened #35 "KeyStoreException Signature/MAC verification failed"
Error occurred on the version **0.6.1** due to EcryptionManager  getMacKey throws exception.

[code]

[2018-09-03 09:36] djavid opened #36 "java.lang.NoClassDefFoundError: devliving.online.securedpreferencestore.Logger on Android APi 19"
Couln't launch app on Android emulator, Android 4.4 Api 19. Other api works correct.

`I/dalvikvm: Could not find method devliving.online.securedpreferencestore.EncryptionManager.getHashed, referenced from method devliving.online.securedpreferencestore.SecuredPreferenceStore.getStringSet
W/dalvikvm: VFY: unable to resolve static method 1011: Ldevliving/online/securedpreferencestore/EncryptionManag

[2018-09-05 09:55] #15 closed, assigned to iamMehedi

[2018-09-05 09:59] #17 closed, assigned to iamMehedi

[2018-09-05 10:01] #18 closed, assigned to iamMehedi

[2018-09-05 10:37] iamMehedi commented on #36
Sounds like a Multidex issue, see here:
https://github.com/realm/realm-java/issues/2837

[2018-09-06 11:40] YogeshByndoor opened #37 "Cipher not initialized issue sometimes(Once if i run the test case 10 times)."

[2018-09-06 11:42] YogeshByndoor commented on #37
I wrote the test case which store the value  and get the value from shared preference. The test case was failing sometimes.

[2018-10-04 13:58] kfjtrifork opened #39 "KeyStore exception in log on Android 9 device"
Thx for a great library.
When running on a Android 9 device (Pixel) I see an error in the log. This happens both when target api is set to Android 9 (28) and earlier (tested with 26). This exception is not propagated to the calling app.
This error does not occur when running older Android devices (tested on Android 8 and 6).
I can't tell the severity of this error (the call to "KeyStore.entryInsta

[2018-10-22 10:27] gerostam opened #40 "llegalStateException: Must call init() before using the store"
Hello,

I am using the library and works fine in all the devices that I tested so far. The problem is that I receive crashes in production for some older devices (i.e. Samsung Note 3 with Android 5):

llegalStateException: Must call init() before using the store in SecuredPreferenceStore.setRecoveryHandler

, but I call init as it is stated in the documentation (cannot replicate it on devices that

[2018-10-25 12:16] BulatMukhutdinov opened #41 "Should seedKey be stored securely?"
Hi!
Do we need to store `seedKey ` value in some local properties? Or is it ok to leave it in plain text in a code?

[2018-11-16 19:29] karolzdebel opened #43 "AndroidManifest contains application label"
Secured-Preference-Store/securedpreferencestore/src/main/AndroidManifest.xml
`    <application
        android:label="@string/app_name">`

The AndroidManifest in the SecuredPreferenceStore package contains an application label which causes a Manifest merger failure for any project which also contains its own label. What is the purpose of this labels presence?

Adding tools:replace to the Android M

[2018-11-16 20:56] karolzdebel commented on #43
Addressed in PR: https://github.com/iamMehedi/Secured-Preference-Store/pull/44, just needs to be approved.

[2018-12-05 05:30] iamMehedi commented on #43
PR #44 has been merged.

[2018-12-05 05:30] #43 closed, assigned to nobody

[2018-12-05 05:32] iamMehedi commented on #41
it'd be better to store it securely if you can, but it's also ok to store it in plain text.

[2018-12-05 05:34] iamMehedi commented on #39
looking into it!

[2018-12-05 05:36] iamMehedi commented on #40
Most probably a memory issues, will check!

[2019-02-01 14:30] lucianommoura commented on #40
I dont think so. I have the same error at my application and all users have a lot of memory free.

[2019-03-31 19:15] brspurri commented on #39
Seeing the same error when using `implementation 'online.devliving:securedpreferencestore:0.7.4'`. Only on OS 9 devices.

[2019-04-05 10:37] edgar-zigis commented on #40
We have a big user base, so I can confirm, that 95% of the crashes occur on Android 5 and earlier and the other 5% are occuring on Android 6.0-6.0.1.

[2019-04-05 11:55] gerostam commented on #40
What I did to solve this (this is not the best solution as the library should not crash) is:

SecuredPreferenceStore securedPreferenceStore;
try {
      securedPreferenceStore = SecuredPreferenceStore.getSharedInstance();
} catch (Exception e) {
       LOGGER.error(e.toString(), e);
       generateSecuredSharedPreferences(context);
       securedPreferenceStore = SecuredPreferenceStore.getSharedIn

[2019-04-10 18:57] ber4444 commented on #39
also seen at https://github.com/googlesamples/android-BasicAndroidKeyStore/issues/3

[2019-06-08 04:50] bobpf opened #50 "[Question] - Sharing among multiple apps"
Attempting to use this in a library that is shared between two apps.  I have set the sharedUserId to the same ID in both apps (and the library).  For the context I create a packageContext using the package name of one of my apps.  However, I am not able to store the value in one app and fetch it in the other.  Just curios to see if this is something that this AWESOME package is preventing me from

[2019-06-08 22:25] bobpf commented on #50
So I figured out the issue.  Application A had a reference to the shared preference before application B wrote the values.  When Application A reads the value it did not exist (caching issue).  If I restart Application A it is able to read the value.  I tried not caching the instance "sharedPreferences from above" but that did not help.  Also tried the whole init process every time but that did no

[2019-06-18 09:24] hakobt opened #51 "Getting encrypted value when using OnSharedPreferenceChangeListener"
Is there a way to decrypt manually when you receive values from OnSharedPreferenceChangeListener ?

[2019-06-18 10:52] iamMehedi commented on #50
I'd prefer `ContentProvider` over this `SharedPreference` approach as that is officially suggested. And I also don't think this library is causing the issue you are experiencing. Are you sure that the reason is not 2 different processes trying to concurrently read/write the same file?

[2019-06-18 10:54] iamMehedi commented on #51
You can use a normal `SharedPreferences` and then encrypt/decrypt manually using the `EncryptionManager`

[2019-06-18 23:29] bobpf commented on #50
Really sure it’s not a concurrency issue.  That being said I wen down the service route instead.  Thanks for the update.

[2019-06-23 16:25] hakobt commented on #51
Thank you

[2019-06-23 16:25] #51 closed, assigned to iamMehedi

[2019-06-26 09:12] erlangparasu opened #52 "AES only supported by Android API 23+"
https://developer.android.com/training/articles/keystore.html

https://github.com/iamMehedi/Secured-Preference-Store/blob/02d71303e81d03b58e7b097c4988e257f84da080/app/build.gradle#L9

[2019-06-27 02:33] #52 closed, assigned to nobody

[2019-08-05 09:04] AlvaroBro commented on #39
Hi! Any news or feedback on this? I'm experiencing the same thing in Android 9.

[2019-08-09 09:32] risechen opened #53 "anr when generateAESKey and call mStore.containsAlias(AES_KEY_ALIAS)"
1.device and version: Samsung Galaxy J7 Prime (on7xelte), Android 8.1
2.anr log
"main" prio=5 tid=1 Native
  | group="main" sCount=1 dsCount=0 flags=1 obj=0x732abec0 self=0xee07b000
  | sysTid=19949 nice=0 cgrp=default sched=0/0 handle=0xf23304b8
  | state=S schedstat=( 0 0 0 ) utm=9 stm=8 core=2 HZ=100
  | stack=0xff334000-0xff336000 stackSize=8MB
  | held mutexes=
  #00  pc 0000000000049ff8  /sy

[2019-10-14 15:12] jonreeve commented on #39
Possible fix?

https://stackoverflow.com/questions/52024752/android-9-keystore-exception-android-os-servicespecificexception

[2019-10-28 09:10] twofingersapps opened #54 "Very long strings are not stored"
I used this library quite often with a lot of success.
However right now I have a problem with storing a long JSON string (>7000 chars).
The edit().putString().apply() goes through smoothly, but the key is not even present in the SharedPreferences afterwards.

[2020-03-03 07:42] andreaslindahl opened #55 ""Key not yet valid" on device"
I'm using SecuredPreferenceStore to store access tokens etc. Works fine in the emulator, but when I run the app on my device I'm not able to save anything.

The error I'm getting when calling `putString` is `android.security.keystore.KeyNotYetValidException: Key not yet valid`

Any idea why this is happening?

[2020-03-03 08:45] andreaslindahl commented on #55
Turned out I was running an old version... Updating to 0.7.4 solved the problem.

[2020-03-03 08:45] #55 closed, assigned to nobody

[2021-03-17 03:25] waylon-edmodo commented on #7
Is there any better way to solve this problem. From firebase's crashlytics, we found a large number of crash logs of this type of problem.

[2021-07-12 20:20] MarimuthuP commented on #39
Hi! Still I'm getting the same exception even after changing getKey() and getCertificate() methods instead of getEntry() in Android 9. Is there any updated solution on this?

[2022-05-20 13:15] shalva97 opened #56 "Alternative to this library?"
it has not updated for a long time. Do you know any similar library?

[2022-05-23 06:36] bmaciejm commented on #56
You could just use https://developer.android.com/reference/kotlin/androidx/security/crypto/EncryptedSharedPreferences